[submodule "external/jails"]
	path = external/jails
	url = https://github.com/SogoCZE/Jails
[submodule "external/tree-sitter-jai"]
	path = external/tree-sitter-jai
	url = https://github.com/constantitus/tree-sitter-jai
